DATABASE_URL=postgresql://user:user@localhost:5433/user
JWT_ACCESS_SECRET=something
RMQ_URL=amqp://localhost:5672
RMQ_NOTIFICATIONS_QUEUE=notifications
RMQ_TASKS_QUEUE=tasks
TCP_HOST=0.0.0.0
TCP_PORT=4000
